#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee > #backgroundBox {
  background-color: #FFFFFF;
  position: absolute;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_71 {
  position: absolute;
  width: 209.92886352539062px;
  height: 221.31039428710938px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_72 {
  position: absolute;
  width: 209.92886352539062px;
  height: 221.31039428710938px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_73 {
  position: absolute;
  width: 37.664520263671875px;
  height: 8.814956665039062px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_74 {
  position: absolute;
  width: 37.664520263671875px;
  height: 8.814971923828125px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_75 {
  position: absolute;
  width: 37.664520263671875px;
  height: 8.814956665039062px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_76 {
  position: absolute;
  width: 37.664520263671875px;
  height: 8.814971923828125px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_77 {
  position: absolute;
  width: 37.664520263671875px;
  height: 8.814956665039062px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_78 {
  position: absolute;
  width: 37.664520263671875px;
  height: 8.81494140625px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_79 {
  position: absolute;
  width: 37.664520263671875px;
  height: 8.814971923828125px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_80 {
  position: absolute;
  width: 37.664520263671875px;
  height: 8.814971923828125px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_81 {
  position: absolute;
  width: 37.664520263671875px;
  height: 8.814971923828125px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_82 {
  position: absolute;
  width: 37.664520263671875px;
  height: 8.814971923828125px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_83 {
  position: absolute;
  width: 37.664520263671875px;
  height: 8.819671630859375px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_84 {
  position: absolute;
  width: 37.664520263671875px;
  height: 8.814956665039062px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_85 {
  position: absolute;
  width: 37.664520263671875px;
  height: 8.814971923828125px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_86 {
  position: absolute;
  width: 37.664520263671875px;
  height: 8.814956665039062px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_87 {
  position: absolute;
  width: 37.664520263671875px;
  height: 8.814971923828125px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_88 {
  position: absolute;
  width: 37.664520263671875px;
  height: 8.814956665039062px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_89 {
  position: absolute;
  width: 37.664520263671875px;
  height: 8.81494140625px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_90 {
  position: absolute;
  width: 37.664520263671875px;
  height: 8.814971923828125px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_91 {
  position: absolute;
  width: 37.664520263671875px;
  height: 8.814971923828125px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_92 {
  position: absolute;
  width: 37.664520263671875px;
  height: 8.814971923828125px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_93 {
  position: absolute;
  width: 37.664520263671875px;
  height: 8.814971923828125px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_94 {
  position: absolute;
  width: 37.664520263671875px;
  height: 8.819671630859375px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_95 {
  position: absolute;
  width: 47.57421875px;
  height: 36.47930908203125px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_96 {
  position: absolute;
  width: 42.626434326171875px;
  height: 30.783706665039062px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_97 {
  position: absolute;
  width: 16.1331787109375px;
  height: 2.0px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_98 {
  position: absolute;
  width: 34.4381103515625px;
  height: 2.0px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_99 {
  position: absolute;
  width: 19.985137939453125px;
  height: 2.0px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_100 {
  position: absolute;
  width: 9.064239501953125px;
  height: 2.0px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_101 {
  position: absolute;
  width: 9.064239501953125px;
  height: 2.0px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_102 {
  position: absolute;
  width: 35.543365478515625px;
  height: 27.378570556640625px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_103 {
  position: absolute;
  width: 31.903076171875px;
  height: 23.188018798828125px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_104 {
  position: absolute;
  width: 12.403533935546875px;
  height: 2.0px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_105 {
  position: absolute;
  width: 25.873565673828125px;
  height: 2.0px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_106 {
  position: absolute;
  width: 15.23486328125px;
  height: 2.0px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_107 {
  position: absolute;
  width: 7.201751708984375px;
  height: 2.0px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_108 {
  position: absolute;
  width: 7.201751708984375px;
  height: 2.0px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_109 {
  position: absolute;
  width: 102.07513427734375px;
  height: 133.03172302246094px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_110 {
  position: absolute;
  width: 102.07513427734375px;
  height: 133.03173828125px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_111 {
  position: absolute;
  width: 88.76971435546875px;
  height: 89.83734130859375px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_112 {
  position: absolute;
  width: 8.8232421875px;
  height: 16.05679702758789px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_113 {
  position: absolute;
  width: 9.519317626953125px;
  height: 16.061500549316406px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_114 {
  position: absolute;
  width: 39.09429931640625px;
  height: 2.0px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_115 {
  position: absolute;
  width: 39.09429931640625px;
  height: 2.0px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_116 {
  position: absolute;
  width: 31.08941650390625px;
  height: 2.0px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_117 {
  position: absolute;
  width: 31.08941650390625px;
  height: 2.0px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_118 {
  position: absolute;
  width: 31.08941650390625px;
  height: 2.0px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_119 {
  position: absolute;
  width: 31.08941650390625px;
  height: 2.0px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_120 {
  position: absolute;
  width: 46.03627014160156px;
  height: 2.0px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_121 {
  position: absolute;
  width: 31.08941650390625px;
  height: 2.0px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_122 {
  position: absolute;
  width: 31.08941650390625px;
  height: 2.0px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_123 {
  position: absolute;
  width: 46.03627014160156px;
  height: 2.0px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_124 {
  position: absolute;
  width: 29.574981689453125px;
  height: 2.0px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_125 {
  position: absolute;
  width: 29.574981689453125px;
  height: 2.0px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_126 {
  position: absolute;
  width: 19.797592163085938px;
  height: 19.796432495117188px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_127 {
  position: absolute;
  width: 9.268951416015625px;
  height: 6.6845550537109375px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_128 {
  position: absolute;
  width: 21.490142822265625px;
  height: 16.737213134765625px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_129 {
  position: absolute;
  width: 216.72084045410156px;
  height: 2.0px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_130 {
  position: absolute;
  width: 216.72084045410156px;
  height: 2.0px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_131 {
  position: absolute;
  width: 60.28558349609375px;
  height: 51.134552001953125px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_132 {
  position: absolute;
  width: 87.17523193359375px;
  height: 60.2939453125px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_133 {
  position: absolute;
  width: 28.218475341796875px;
  height: 31.734771728515625px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_134 {
  position: absolute;
  width: 6.3740081787109375px;
  height: 18.9080810546875px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_135 {
  position: absolute;
  width: 17.70404052734375px;
  height: 27.101104736328125px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_136 {
  position: absolute;
  width: 8.208251953125px;
  height: 21.83819580078125px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_137 {
  position: absolute;
  width: 17.6993408203125px;
  height: 15.267791748046875px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_138 {
  position: absolute;
  width: 15.517059326171875px;
  height: 7.25244140625px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_139 {
  position: absolute;
  width: 11.779586791992188px;
  height: 11.933197021484375px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_140 {
  position: absolute;
  width: 7.6534881591796875px;
  height: 9.378448486328125px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_141 {
  position: absolute;
  width: 7.7501068115234375px;
  height: 6.74188232421875px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_142 {
  position: absolute;
  width: 6.1012115478515625px;
  height: 6.801971435546875px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_143 {
  position: absolute;
  width: 7.715423583984375px;
  height: 18.17529296875px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_144 {
  position: absolute;
  width: 6.860076904296875px;
  height: 10.080902099609375px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_145 {
  position: absolute;
  width: 5.388092041015625px;
  height: 7.773040771484375px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_146 {
  position: absolute;
  width: 32.94248962402344px;
  height: 7.140625px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_147 {
  position: absolute;
  width: 25.352630615234375px;
  height: 15.19744873046875px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_148 {
  position: absolute;
  width: 8.39166259765625px;
  height: 10.837371826171875px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_149 {
  position: absolute;
  width: 8.1094970703125px;
  height: 7.549774169921875px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_150 {
  position: absolute;
  width: 7.07476806640625px;
  height: 5.1041259765625px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_151 {
  position: absolute;
  width: 4.064727783203125px;
  height: 3.316925048828125px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_152 {
  position: absolute;
  width: 36.07928466796875px;
  height: 52.67718505859375px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_153 {
  position: absolute;
  width: 12.812713623046875px;
  height: 4.6337890625px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_154 {
  position: absolute;
  width: 9.802642822265625px;
  height: 2.609527587890625px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_155 {
  position: absolute;
  width: 4.916015625px;
  height: 13.75335693359375px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_156 {
  position: absolute;
  width: 5.91864013671875px;
  height: 33.928375244140625px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_157 {
  position: absolute;
  width: 7.64385986328125px;
  height: 7.64385986328125px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_158 {
  position: absolute;
  width: 6.386322021484375px;
  height: 12.49578857421875px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_159 {
  position: absolute;
  width: 10.416961669921875px;
  height: 17.812255859375px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_160 {
  position: absolute;
  width: 11.7935791015625px;
  height: 14.875640869140625px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_161 {
  position: absolute;
  width: 10.943756103515625px;
  height: 17.424774169921875px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_162 {
  position: absolute;
  width: 4.264923095703125px;
  height: 3.836944580078125px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_163 {
  position: absolute;
  width: 4.21527099609375px;
  height: 3.928375244140625px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_164 {
  position: absolute;
  width: 6.362213134765625px;
  height: 13.089569091796875px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_165 {
  position: absolute;
  width: 4.998870849609375px;
  height: 4.3968505859375px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_166 {
  position: absolute;
  width: 25.775421142578125px;
  height: 38.07489013671875px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_167 {
  position: absolute;
  width: 29.097412109375px;
  height: 24.187042236328125px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_168 {
  position: absolute;
  width: 11.696258544921875px;
  height: 8.723541259765625px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_169 {
  position: absolute;
  width: 13.083709716796875px;
  height: 7.54345703125px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_170 {
  position: absolute;
  width: 4.57086181640625px;
  height: 3.1693115234375px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_171 {
  position: absolute;
  width: 6.292266845703125px;
  height: 5.821929931640625px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_172 {
  position: absolute;
  width: 8.451019287109375px;
  height: 4.27166748046875px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_173 {
  position: absolute;
  width: 7.604461669921875px;
  height: 4.309600830078125px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_174 {
  position: absolute;
  width: 4.84283447265625px;
  height: 4.8818359375px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_175 {
  position: absolute;
  width: 9.525146484375px;
  height: 3.509857177734375px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_176 {
  position: absolute;
  width: 5.01007080078125px;
  height: 2.6524658203125px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_177 {
  position: absolute;
  width: 4.991241455078125px;
  height: 2.7542724609375px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_178 {
  position: absolute;
  width: 32.33861541748047px;
  height: 36.560333251953125px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_179 {
  position: absolute;
  width: 3.0441131591796875px;
  height: 7.97308349609375px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_180 {
  position: absolute;
  width: 1.1935577392578125px;
  height: 2.485504150390625px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_181 {
  position: absolute;
  width: 4.986541748046875px;
  height: 2.750457763671875px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_182 {
  position: absolute;
  width: 41.05889892578125px;
  height: 32.25959777832031px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_183 {
  position: absolute;
  width: 79.35334777832031px;
  height: 64.42587280273438px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_184 {
  position: absolute;
  width: 3.22283935546875px;
  height: 2.442108154296875px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_185 {
  position: absolute;
  width: 15.352439880371094px;
  height: 13.77685546875px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_186 {
  position: absolute;
  width: 11.679229736328125px;
  height: 6.90545654296875px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_187 {
  position: absolute;
  width: 8.259979248046875px;
  height: 12.069610595703125px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_188 {
  position: absolute;
  width: 3.109954833984375px;
  height: 3.13348388671875px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_189 {
  position: absolute;
  width: 4.455078125px;
  height: 8.405792236328125px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_190 {
  position: absolute;
  width: 29.805442810058594px;
  height: 10.9244384765625px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_191 {
  position: absolute;
  width: 70.25942993164062px;
  height: 32.429840087890625px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Rectangle_8 {
  position: absolute;
  width: 375.0px;
  min-height: 44.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Rectangle_8 {
  box-shadow: none;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Rectangle_8 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Rectangle_8 > .borderLayer {
  border-top-width: 0.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0.0px;
  border-left-style: solid;
  border-left-color: #000000;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Rectangle_8 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Rectangle_8 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Paragraph_5 {
  position: absolute;
  width: 36.0px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Helvetica',Arial;
}

_:-ms-fullscreen, :root #s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Paragraph_5 {
  box-shadow: none;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Paragraph_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Paragraph_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Helvetica',Arial;
  font-size: 10.2pt;
  font-style: normal;
  font-weight: 400;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Helvetica',Arial;
  font-size: 10.2pt;
  font-style: normal;
  font-weight: 400;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Paragraph_5 span#rtr-s-Paragraph_5_1 {
  color: #000000;
  text-decoration: none;
  font-family: 'Helvetica',Arial;
  font-size: 10.2pt;
  font-style: normal;
  font-weight: 400;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_9 {
  position: absolute;
  width: 23.0px;
  height: 12.333333015441895px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_10 {
  position: absolute;
  width: 1.3280372619628906px;
  height: 4.0px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_11 {
  position: absolute;
  width: 17.0px;
  height: 6.333333969116211px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_12 {
  position: absolute;
  width: 15.272381782531738px;
  height: 10.965571403503418px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_13 {
  position: absolute;
  width: 17.0px;
  height: 10.666667938232422px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #shapewrapper-s-Ellipse_2 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #shapewrapper-s-Ellipse_2 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #shapewrapper-s-Ellipse_2 {
  position: absolute;
  filter: drop-shadow(-0.0px -0.0px 2.5px rgba(9,72,104,0.5));
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Ellipse_2 {
  width: 38.0px;
  height: 38.0px;
  min-height: 38.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Ellipse_2 {
  box-shadow: -0.0px -0.0px 5px 0px rgba(9,72,104,0.5);
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #shapewrapper-s-Ellipse_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #shapewrapper-s-Ellipse_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #shapewrapper-s-Ellipse_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #shapewrapper-s-Ellipse_2 span#rtr-s-Ellipse_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #shapewrapper-s-Ellipse_1 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #shapewrapper-s-Ellipse_1 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #shapewrapper-s-Ellipse_1 {
  position: absolute;
  filter: drop-shadow(-0.0px -0.0px 2.5px rgba(9,72,104,0.5));
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Ellipse_1 {
  width: 38.0px;
  height: 38.0px;
  min-height: 38.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Ellipse_1 {
  box-shadow: -0.0px -0.0px 5px 0px rgba(9,72,104,0.5);
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #shapewrapper-s-Ellipse_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #shapewrapper-s-Ellipse_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Path_4 {
  position: absolute;
  width: 11.0px;
  height: 18.0px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Union_1 {
  position: absolute;
  width: 4.0px;
  height: 15.0px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Button_2 {
  position: absolute;
  width: 315.0px;
  min-height: 50.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto',Arial;
}

_:-ms-fullscreen, :root #s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Button_2 {
  box-shadow: none;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: #63D1D9;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Button_2 > .borderLayer {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Button_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #shapewrapper-s-Ellipse_6 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #shapewrapper-s-Ellipse_6 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #shapewrapper-s-Ellipse_6 {
  position: absolute;
  filter: drop-shadow(0.06980962574913391px 3.999390780625565px 10.0px rgba(82,82,82,0.15));
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Ellipse_6 {
  width: 66.0px;
  height: 66.0px;
  min-height: 66.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Ellipse_6 {
  box-shadow: 0.06980962574913391px 3.999390780625565px 20px 0px rgba(82,82,82,0.15);
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #shapewrapper-s-Ellipse_6 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #shapewrapper-s-Ellipse_6 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #shapewrapper-s-Ellipse_6 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #shapewrapper-s-Ellipse_6 span#rtr-s-Ellipse_6_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Paragraph_8 {
  position: absolute;
  width: 299.04780578613276px;
  min-height: 84.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Light',Arial;
}

_:-ms-fullscreen, :root #s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Paragraph_8 {
  box-shadow: none;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Paragraph_8 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: left;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Paragraph_8 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.25pt;
  line-height: 21px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.25pt;
  line-height: 21px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Paragraph_9 {
  position: absolute;
  width: 234.0px;
  min-height: 58.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Georgia',Arial;
}

_:-ms-fullscreen, :root #s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Paragraph_9 {
  box-shadow: none;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Paragraph_9 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Paragraph_9 .valign {
  vertical-align: top;
  text-align: left;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Paragraph_9 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Georgia',Arial;
  font-size: 20.25pt;
  font-style: normal;
  font-weight: 700;
  line-height: 33px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Georgia',Arial;
  font-size: 20.25pt;
  font-style: normal;
  font-weight: 700;
  line-height: 33px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Paragraph_10 {
  position: absolute;
  width: 98.0px;
  min-height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Paragraph_10 {
  box-shadow: none;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Paragraph_10 > .backgroundLayer {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Paragraph_10 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Paragraph_10 > .borderLayer {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Paragraph_10 > .backgroundLayer {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Paragraph_10 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Paragraph_10 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Paragraph_10 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.5pt;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.5pt;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #shapewrapper-s-Ellipse_7 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #shapewrapper-s-Ellipse_7 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #shapewrapper-s-Ellipse_7 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Ellipse_7 {
  width: 27.0px;
  height: 27.0px;
  min-height: 27.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 2.0px;
  stroke: #DEDEDE;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Ellipse_7 {
  box-shadow: none;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #shapewrapper-s-Ellipse_7 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #shapewrapper-s-Ellipse_7 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #shapewrapper-s-Ellipse_7 span#rtr-s-Ellipse_7_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #shapewrapper-s-Ellipse_8 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #shapewrapper-s-Ellipse_8 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #shapewrapper-s-Ellipse_8 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Ellipse_8 {
  width: 13.0px;
  height: 13.0px;
  min-height: 13.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Ellipse_8 {
  box-shadow: none;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #shapewrapper-s-Ellipse_8 > .backgroundLayer > .colorLayer {
  background-color: #63D1D9;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #shapewrapper-s-Ellipse_8 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #shapewrapper-s-Ellipse_8 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #shapewrapper-s-Ellipse_8 span#rtr-s-Ellipse_8_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Paragraph_11 {
  position: absolute;
  width: 98.0px;
  min-height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Paragraph_11 {
  box-shadow: none;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Paragraph_11 > .backgroundLayer {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Paragraph_11 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Paragraph_11 > .borderLayer {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Paragraph_11 > .backgroundLayer {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Paragraph_11 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Paragraph_11 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Paragraph_11 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.5pt;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.5pt;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #shapewrapper-s-Ellipse_9 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #shapewrapper-s-Ellipse_9 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #shapewrapper-s-Ellipse_9 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Ellipse_9 {
  width: 27.0px;
  height: 27.0px;
  min-height: 27.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 2.0px;
  stroke: #DEDEDE;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Ellipse_9 {
  box-shadow: none;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #shapewrapper-s-Ellipse_9 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #shapewrapper-s-Ellipse_9 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #shapewrapper-s-Ellipse_9 span#rtr-s-Ellipse_9_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Paragraph_12 {
  position: absolute;
  width: 98.0px;
  min-height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Paragraph_12 {
  box-shadow: none;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Paragraph_12 > .backgroundLayer {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Paragraph_12 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Paragraph_12 > .borderLayer {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Paragraph_12 > .backgroundLayer {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Paragraph_12 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Paragraph_12 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Paragraph_12 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.5pt;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.5pt;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #shapewrapper-s-Ellipse_10 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #shapewrapper-s-Ellipse_10 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #shapewrapper-s-Ellipse_10 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Ellipse_10 {
  width: 27.0px;
  height: 27.0px;
  min-height: 27.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 2.0px;
  stroke: #DEDEDE;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Ellipse_10 {
  box-shadow: none;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #shapewrapper-s-Ellipse_10 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #shapewrapper-s-Ellipse_10 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #shapewrapper-s-Ellipse_10 span#rtr-s-Ellipse_10_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Paragraph_13 {
  position: absolute;
  width: 135.74999999999955px;
  min-height: 23.000000000000227px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Georgia',Arial;
}

_:-ms-fullscreen, :root #s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Paragraph_13 {
  box-shadow: none;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Paragraph_13 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Paragraph_13 .valign {
  vertical-align: top;
  text-align: left;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Paragraph_13 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Georgia',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 700;
  line-height: 19px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Paragraph_13 span#rtr-s-Paragraph_13_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Georgia',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 700;
  line-height: 19px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Rectangle_1 {
  position: absolute;
  width: 297.9999999999998px;
  min-height: 5.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Rectangle_1 {
  box-shadow: none;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #E6F6F6;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Rectangle_1 > .borderLayer {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Rectangle_2 {
  position: absolute;
  width: 70.25000615082968px;
  min-height: 6.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Rectangle_2 {
  box-shadow: none;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #63D1D9;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Rectangle_2 > .borderLayer {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Rectangle_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Paragraph_14 {
  position: absolute;
  width: 45.77390904389608px;
  min-height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Paragraph_14 {
  box-shadow: none;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Paragraph_14 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Paragraph_14 .valign {
  vertical-align: top;
  text-align: right;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Paragraph_14 span {
  color: #63D1D9;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.75pt;
  line-height: 19px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Paragraph_14 span#rtr-s-Paragraph_14_0 {
  color: #63D1D9;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.75pt;
  line-height: 19px;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Image_4 {
  position: absolute;
  width: 41.0px;
  height: 40.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-6a8c7a71-c266-4480-ba0d-ed8a1795daee #s-Image_4 {
  box-shadow: none;
}

#s-6a8c7a71-c266-4480-ba0d-ed8a1795daee > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
