#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 > #backgroundBox {
  background-color: #FFFFFF;
  position: absolute;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Rectangle_7 {
  position: absolute;
  width: 319.62562477216136px;
  min-height: 133.99007203823248px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(0.2616797812147192px 4.993147673772869px 11.5px rgba(99,209,217,0.45));
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Rectangle_7 {
  box-shadow: 0.2616797812147192px 4.993147673772869px 23px 0px rgba(99,209,217,0.45);
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Rectangle_7 > .backgroundLayer {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Rectangle_7 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Rectangle_7 > .borderLayer {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Rectangle_7 > .backgroundLayer {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Rectangle_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Rectangle_7 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Paragraph_17 {
  position: absolute;
  width: 137.80000000000018px;
  min-height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}

_:-ms-fullscreen, :root #s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Paragraph_17 {
  box-shadow: none;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Paragraph_17 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Paragraph_17 .valign {
  vertical-align: top;
  text-align: left;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Paragraph_17 span {
  color: #63D1D9;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 8.25pt;
  font-style: normal;
  font-weight: 400;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Paragraph_17 span#rtr-s-Paragraph_17_0 {
  color: #63D1D9;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 8.25pt;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1.0px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Paragraph_18 {
  position: absolute;
  width: 186.00000000000034px;
  min-height: 57.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}

_:-ms-fullscreen, :root #s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Paragraph_18 {
  box-shadow: none;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Paragraph_18 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Paragraph_18 .valign {
  vertical-align: top;
  text-align: left;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Paragraph_18 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Paragraph_18 span#rtr-s-Paragraph_18_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Paragraph_19 {
  position: absolute;
  width: 99.7161290322588px;
  min-height: 42.00000000000003px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}

_:-ms-fullscreen, :root #s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Paragraph_19 {
  box-shadow: none;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Paragraph_19 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Paragraph_19 .valign {
  vertical-align: top;
  text-align: left;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Paragraph_19 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 12.75pt;
  font-style: normal;
  font-weight: 400;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Paragraph_19 span#rtr-s-Paragraph_19_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 12.75pt;
  font-style: normal;
  font-weight: 400;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Image_7 {
  position: absolute;
  width: 89.0px;
  height: 89.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Image_7 {
  box-shadow: none;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Image_7 > .backgroundLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Image_7 > .borderLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Image_7 > .backgroundLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Rectangle_3 {
  position: absolute;
  width: 375.00000000000006px;
  min-height: 98.99999999999977px;
  opacity: 0.52;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Rectangle_3 {
  box-shadow: none;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Rectangle_3 > .backgroundLayer {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #EEEEEE;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Rectangle_3 > .borderLayer {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Rectangle_3 > .backgroundLayer {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Rectangle_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Rectangle_8 {
  position: absolute;
  width: 375.0px;
  min-height: 44.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Rectangle_8 {
  box-shadow: none;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Rectangle_8 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Rectangle_8 > .borderLayer {
  border-top-width: 0.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0.0px;
  border-left-style: solid;
  border-left-color: #000000;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Rectangle_8 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Rectangle_8 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Paragraph_5 {
  position: absolute;
  width: 36.0px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Helvetica',Arial;
}

_:-ms-fullscreen, :root #s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Paragraph_5 {
  box-shadow: none;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Paragraph_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Paragraph_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Helvetica',Arial;
  font-size: 10.2pt;
  font-style: normal;
  font-weight: 400;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Helvetica',Arial;
  font-size: 10.2pt;
  font-style: normal;
  font-weight: 400;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Paragraph_5 span#rtr-s-Paragraph_5_1 {
  color: #000000;
  text-decoration: none;
  font-family: 'Helvetica',Arial;
  font-size: 10.2pt;
  font-style: normal;
  font-weight: 400;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Path_9 {
  position: absolute;
  width: 23.0px;
  height: 12.333333015441895px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Path_10 {
  position: absolute;
  width: 1.3280372619628906px;
  height: 4.0px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Path_11 {
  position: absolute;
  width: 17.0px;
  height: 6.333333969116211px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Path_12 {
  position: absolute;
  width: 15.272381782531738px;
  height: 10.965571403503418px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Path_13 {
  position: absolute;
  width: 17.0px;
  height: 10.666667938232422px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #shapewrapper-s-Ellipse_1 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #shapewrapper-s-Ellipse_1 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #shapewrapper-s-Ellipse_1 {
  position: absolute;
  filter: drop-shadow(-0.0px -0.0px 2.5px rgba(9,72,104,0.5));
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Ellipse_1 {
  width: 38.0px;
  height: 38.0px;
  min-height: 38.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Ellipse_1 {
  box-shadow: -0.0px -0.0px 5px 0px rgba(9,72,104,0.5);
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #shapewrapper-s-Ellipse_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #shapewrapper-s-Ellipse_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #shapewrapper-s-Ellipse_2 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #shapewrapper-s-Ellipse_2 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #shapewrapper-s-Ellipse_2 {
  position: absolute;
  filter: drop-shadow(-0.0px -0.0px 2.5px rgba(9,72,104,0.5));
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Ellipse_2 {
  width: 38.0px;
  height: 38.0px;
  min-height: 38.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Ellipse_2 {
  box-shadow: -0.0px -0.0px 5px 0px rgba(9,72,104,0.5);
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #shapewrapper-s-Ellipse_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #shapewrapper-s-Ellipse_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #shapewrapper-s-Ellipse_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #shapewrapper-s-Ellipse_2 span#rtr-s-Ellipse_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Path_4 {
  position: absolute;
  width: 11.0px;
  height: 18.0px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Union_1 {
  position: absolute;
  width: 4.0px;
  height: 15.0px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Rectangle_4 {
  position: absolute;
  width: 319.62562477216136px;
  min-height: 133.99007203823248px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(0.2616797812147192px 4.993147673772869px 11.5px rgba(99,209,217,0.45));
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Rectangle_4 {
  box-shadow: 0.2616797812147192px 4.993147673772869px 23px 0px rgba(99,209,217,0.45);
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Rectangle_4 > .backgroundLayer {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Rectangle_4 > .borderLayer {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Rectangle_4 > .backgroundLayer {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Rectangle_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Paragraph_8 {
  position: absolute;
  width: 100.80000000000021px;
  min-height: 26.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}

_:-ms-fullscreen, :root #s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Paragraph_8 {
  box-shadow: none;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Paragraph_8 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: left;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Paragraph_8 span {
  color: #63D1D9;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 8.25pt;
  font-style: normal;
  font-weight: 400;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #63D1D9;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 8.25pt;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1.0px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Paragraph_11 {
  position: absolute;
  width: 168.00000000000023px;
  min-height: 57.00000000000003px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}

_:-ms-fullscreen, :root #s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Paragraph_11 {
  box-shadow: none;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Paragraph_11 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Paragraph_11 .valign {
  vertical-align: top;
  text-align: left;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Paragraph_11 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Paragraph_12 {
  position: absolute;
  width: 99.7161290322588px;
  min-height: 42.00000000000003px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}

_:-ms-fullscreen, :root #s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Paragraph_12 {
  box-shadow: none;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Paragraph_12 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Paragraph_12 .valign {
  vertical-align: top;
  text-align: left;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Paragraph_12 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 12.75pt;
  font-style: normal;
  font-weight: 400;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 12.75pt;
  font-style: normal;
  font-weight: 400;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Image_4 {
  position: absolute;
  width: 89.0px;
  height: 89.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Image_4 {
  box-shadow: none;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Image_4 > .backgroundLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Image_4 > .borderLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Image_4 > .backgroundLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Titel_3 {
  position: absolute;
  width: 152.0000000000001px;
  min-height: 34.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}

_:-ms-fullscreen, :root #s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Titel_3 {
  box-shadow: none;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Titel_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Titel_3 .valign {
  vertical-align: top;
  text-align: left;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Titel_3 span {
  color: #2B2F3A;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 18.9pt;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Titel_3 span#rtr-s-Titel_3_0 {
  color: #2B2F3A;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 18.9pt;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Rectangle_5 {
  position: absolute;
  width: 319.62562477216136px;
  min-height: 133.99007203823248px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(0.2616797812147192px 4.993147673772869px 11.5px rgba(99,209,217,0.45));
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Rectangle_5 {
  box-shadow: 0.2616797812147192px 4.993147673772869px 23px 0px rgba(99,209,217,0.45);
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Rectangle_5 > .backgroundLayer {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Rectangle_5 > .borderLayer {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Rectangle_5 > .backgroundLayer {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Rectangle_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Rectangle_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Paragraph_9 {
  position: absolute;
  width: 126.80000000000024px;
  min-height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}

_:-ms-fullscreen, :root #s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Paragraph_9 {
  box-shadow: none;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Paragraph_9 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Paragraph_9 .valign {
  vertical-align: top;
  text-align: left;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Paragraph_9 span {
  color: #63D1D9;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 8.25pt;
  font-style: normal;
  font-weight: 400;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #63D1D9;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 8.25pt;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1.0px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Paragraph_13 {
  position: absolute;
  width: 168.00000000000023px;
  min-height: 57.00000000000003px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}

_:-ms-fullscreen, :root #s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Paragraph_13 {
  box-shadow: none;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Paragraph_13 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Paragraph_13 .valign {
  vertical-align: top;
  text-align: left;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Paragraph_13 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Paragraph_13 span#rtr-s-Paragraph_13_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Paragraph_14 {
  position: absolute;
  width: 99.7161290322588px;
  min-height: 42.00000000000003px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}

_:-ms-fullscreen, :root #s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Paragraph_14 {
  box-shadow: none;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Paragraph_14 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Paragraph_14 .valign {
  vertical-align: top;
  text-align: left;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Paragraph_14 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 12.75pt;
  font-style: normal;
  font-weight: 400;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Paragraph_14 span#rtr-s-Paragraph_14_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 12.75pt;
  font-style: normal;
  font-weight: 400;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Image_5 {
  position: absolute;
  width: 89.0px;
  height: 89.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Image_5 {
  box-shadow: none;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Image_5 > .backgroundLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Image_5 > .borderLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Image_5 > .backgroundLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Rectangle_6 {
  position: absolute;
  width: 319.62562477216136px;
  min-height: 133.99007203823248px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(0.2616797812147192px 4.993147673772869px 11.5px rgba(99,209,217,0.45));
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Rectangle_6 {
  box-shadow: 0.2616797812147192px 4.993147673772869px 23px 0px rgba(99,209,217,0.45);
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Rectangle_6 > .backgroundLayer {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Rectangle_6 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Rectangle_6 > .borderLayer {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Rectangle_6 > .backgroundLayer {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Rectangle_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Rectangle_6 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Paragraph_10 {
  position: absolute;
  width: 100.80000000000021px;
  min-height: 22.679758308157147px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}

_:-ms-fullscreen, :root #s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Paragraph_10 {
  box-shadow: none;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Paragraph_10 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Paragraph_10 .valign {
  vertical-align: top;
  text-align: left;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Paragraph_10 span {
  color: #63D1D9;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 8.25pt;
  font-style: normal;
  font-weight: 400;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #63D1D9;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 8.25pt;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1.0px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Paragraph_15 {
  position: absolute;
  width: 168.00000000000023px;
  min-height: 57.00000000000003px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}

_:-ms-fullscreen, :root #s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Paragraph_15 {
  box-shadow: none;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Paragraph_15 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Paragraph_15 .valign {
  vertical-align: top;
  text-align: left;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Paragraph_15 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Paragraph_15 span#rtr-s-Paragraph_15_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Paragraph_16 {
  position: absolute;
  width: 99.7161290322588px;
  min-height: 42.00000000000003px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}

_:-ms-fullscreen, :root #s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Paragraph_16 {
  box-shadow: none;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Paragraph_16 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Paragraph_16 .valign {
  vertical-align: top;
  text-align: left;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Paragraph_16 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 12.75pt;
  font-style: normal;
  font-weight: 400;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Paragraph_16 span#rtr-s-Paragraph_16_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 12.75pt;
  font-style: normal;
  font-weight: 400;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Image_6 {
  position: absolute;
  width: 89.0px;
  height: 89.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Image_6 {
  box-shadow: none;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Image_6 > .backgroundLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Image_6 > .borderLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Image_6 > .backgroundLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #shapewrapper-s-Ellipse_3 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #shapewrapper-s-Ellipse_3 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #shapewrapper-s-Ellipse_3 {
  position: absolute;
  filter: drop-shadow(-0.0px -0.0px 2.5px rgba(9,72,104,0.5));
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Ellipse_3 {
  width: 38.0px;
  height: 38.0px;
  min-height: 38.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Ellipse_3 {
  box-shadow: -0.0px -0.0px 5px 0px rgba(9,72,104,0.5);
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #shapewrapper-s-Ellipse_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #shapewrapper-s-Ellipse_3 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #shapewrapper-s-Ellipse_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #shapewrapper-s-Ellipse_3 span#rtr-s-Ellipse_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Path_5 {
  position: absolute;
  width: 11.0px;
  height: 18.0px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Rectangle_9 {
  position: absolute;
  width: 375.00000000000006px;
  min-height: 98.99999999999977px;
  opacity: 0.52;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Rectangle_9 {
  box-shadow: none;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Rectangle_9 > .backgroundLayer {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Rectangle_9 > .backgroundLayer > .colorLayer {
  background-color: #EEEEEE;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Rectangle_9 > .borderLayer {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Rectangle_9 > .backgroundLayer {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Rectangle_9 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Rectangle_9 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Input_2 input::-webkit-input-placeholder {
  color: #606368;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Input_2 input::-moz-placeholder {
  color: #606368;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Input_2 input:-moz-placeholder {
  color: #606368;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Input_2 input:-ms-input-placeholder {
  color: #606368;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Input_2 {
  position: absolute;
  width: 329.00000000000006px;
  height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Input_2 {
  box-shadow: none;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Input_2 .valign {
  vertical-align: middle;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Input_2 input {
  color: #606368;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 300;
  line-height: 17px;
  text-shadow: none;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Input_2 > .backgroundLayer {
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  border-bottom-left-radius: 22px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Input_2 > .backgroundLayer > .colorLayer {
  background-color: #F4F1F9;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Input_2 > .borderLayer {
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  border-bottom-left-radius: 22px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Input_2 > .backgroundLayer {
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  border-bottom-left-radius: 22px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Input_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 19px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Path_7 {
  position: absolute;
  width: 16.0px;
  height: 14.0px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 #s-Path_14 {
  position: absolute;
  width: 15.0px;
  height: 15.0px;
}

#s-6c99670e-6a95-4c3c-a7a4-152fd78dec94 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
